extends ../layout

block content
    h1 Error 500 Internal Server Error
    p The server has encountered an unknown error.

block head
    meta(name="description", content="Internal Server Error: The server has encountered an unknown error.")